<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- portal gateway parameters -->
        <add key="DomainPaths" value="&quot;DOMAIN.NAME.01/DC=ROOT,DC=OU&quot;,&quot;DOMAIN.NAME.02/DC=ROOT,DC=OU&quot;" />
        <add key="UserRolesServerUrl" value="http://localhost:8080/UserRolesService.svc" />
        <add key="CookieExpirationTime" value="20" />   
        
        <!-- portal gateway module parameters -->
        <add key="HttpTimeout" value="-1" />
        <add key="HttpReadWriteTimeout" value="-1" />
        <add key="ForwardUrl" value="https://255.255.255.255" />
        <add key="ForwardStartupPath" value="/target/site.html" />
        <add key="ForwardCertificateThumbprint" value="a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0" />
        <add key="ContentControlFilePath" value="" />
        <add key="NetworkLogEnabled" value="true" />   
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>