<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- portal gateway parameters -->
        <add key="DomainPaths" value="&quot;DOMAIN.NAME.01/DC=ROOT,DC=OU&quot;,&quot;DOMAIN.NAME.02/DC=ROOT,DC=OU&quot;" />
        <add key="UserRolesServerUrl" value="http://localhost:8080/UserRolesService.svc" />
        <add key="CookieExpirationTime" value="20" />
    </appSettings>
</configuration>